<html>
<head>
<title>Sistema de Segurança</title>
</head>

<body bgcolor="black" text="white" alink="aqua" link="aqua" vlink="aqua">
<h1 class = "mt-5">Sistema de Segurança</h1>
<h3 class="mt-5">Selecione a Câmera:</h3>
<ul> 
    <li><a href="/Camera1">Camera 1</a></li> 
    <li><a href="/Camera2">Camera 2</a></li>
</ul>
<hr width="50%" align="left">

<h3 class="mt-5">Verificar Gravações:</h3>
<ul> 
    <li><a href="/imagem">Imagem</a></li>
    <li><a href="/video">Video</a></li>
</ul>

<hr width="50%" align="left">

<h3 class="mt-5"><a href="/log">Checar Log de Eventos</a></h3>
</body>
</html>