<body bgcolor="black" text="white" alink="aqua" link="aqua" vlink="aqua">
<h3><a href="/">Voltar</a></h3>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Log do Sistema de Segurança:</h3>
            <ul>
                {% for log_data in log_list %}
                    <li>
                        <h4 class="mt-5">{{log_data[1]}} - {{log_data[0]}}</h4>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>